# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pyo
*.pyc

# Virtual Environment
venv/
env/
env_*/
*.pyc
__pycache__/

# SQL
*.sqlite

# Node.js
node_modules/

# React.js
build/
dist/
*.log

# Visual Studio Code
.vscode/

# SQLite database files
*.sqlite

# Compiled Python files
__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db