localhost

route /api/token {
    reverse_proxy localhost:8080
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods "POST, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Authorization"
    header Access-Control-Allow-Credentials "true"
}

route /api/* {
    reverse_proxy localhost:8080
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods "GET, OPTIONS, POST, PUT, DELETE"
    header Access-Control-Allow-Headers "Content-Type, Authorization"
    header Access-Control-Allow-Credentials "true"
}

route {
    file_server /frontend/*
    try_files {path} {path}/ /index.html
}
